<h1 class='title'>Squishy Tomatoes</h1>


<div class="box">
  <h2 class="header">Reviews for {{movieToShow.title}}</h2>
  <table class="table">
    
    <thead>
      
        <tr>
          <th>Reviewer</th>
          <th>Stars</th>
          <th>Reviews</th>
        </tr>
      
    </thead>
    <ng-container *ngFor="let review of movieToShow.reviews">
      <tr>
        <td>{{review.reviewer}}</td>
        <td>{{review.stars}}</td>
        <td>{{review.review}}</td>
      </tr>
    </ng-container>
  </table>
  
</div>
<button class=" delete btn btn-danger" (click)="deleteMovie(movieToShow._id)">Delete this movie</button><br>
<button [routerLink]="['/']">Back</button>